::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 10px;
}

.sidebar__nav {
    overflow: hidden;
}

.sidebar__nav:hover {
    overflow: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;